@charset "UTF-8";

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #AFD918, #F2B29B);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(133, 98, 84, 0.475);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #48D904;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(48, 148, 2, 0.74);
}

h2 {
    color: #BF1E0F;
}

p {
    text-align: justify;
}